<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="duke" class="performers.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="sonet29" class="poems.Sonet29"/>

    <bean id="poeticDuke" class="performers.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonet29"/>
    </bean>

    <bean id="saxaphone" class="instruments.Saxaphone"/>

    <bean id="piano" class="instruments.Piano"/>

    <bean id="keny" class="performers.Instrumentalist">
        <property name="song" value="Let it Be"/>
        <property name="instrument" ref="saxaphone"/>
    </bean>

    <bean id="kenyPianist" class="performers.Instrumentalist"
          p:song="Hey Jude"
          p:instrument-ref="piano"/>

    <bean id="guitar" class="instruments.Guitar"/>

    <bean id="hank" class="performers.OneManBand">
        <property name="instruments">
            <map>
                <entry key="G" value-ref="guitar"/>
                <entry key="P" value-ref="piano"/>
                <entry key="S" value-ref="saxaphone"/>
            </map>
        </property>
    </bean>

</beans>